@model lab2.Models.module

@{
    ViewBag.Title = "Details";
}

<h2 class="pt-2">Detalės</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Modulio kodas
        </dt>

        <dd class="px-1">
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>

        <dt>
            Modulio pavadinimas
        </dt>

        <dd class="px-1">
            @Html.DisplayFor(model => model.ModuleTitle)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Koreguoti", "Edit", new { id = Model.ModuleID }) |
    @Html.ActionLink("Grįžti atgal", "Index")
</p>
